# Ambrus Studio main site url
VITE_MAIN_SITE_URL=https://dev.ambrus.studio

# Ambrus Studio account center site url
VITE_LAUNCHER_SITE_URL=https://launcher-testing.ambrus.studio

# Ambrus Studio backend api url
VITE_BACKEND_API_URL=https://api.ambrus.studio

# Set chain id
VITE_CHAIN_ID=4

# Your Infura api key
VITE_INFURA_API_KEY=

# Your Etherscan api key
VITE_ETHERSCAN_API_KEY=

# Your Alchemy api key
VITE_ALCHEMY_API_KEY=
